services:
  app:
    build: .
    volumes:
      - .:/app
      - bundle:/usr/local/bundle
    environment:
      BUNDLE_PATH: /usr/local/bundle
    stdin_open: true
    tty: true
    command: >
      tail -f /dev/null

volumes:
  bundle:    
